/*
To use the popover component (based on `tippy.js`), import the required stylesheets
in the main document:

> Because popovers are injected in the document body (portal) — outside
the shadow root — a global stylesheet is required.

```css
@import './src/components/popover/popover.css';
@import 'tippy.js/animations/shift-toward-extreme.css';
@import 'tippy.js/animations/perspective-extreme.css';
```

To control the border style of the popover:

```css
.tippy-box {
  --popover-border-color: var(--border-color);
  --popover-border: 1px solid var(--popover-border-color);
}
```
*/

/*
[data-tippy-root] {
  max-width: calc(100vw - 8px);
}
*/

.tippy-box {
  --popover-arrow-size: 16px; /* $arrow-size: 16px; */
  --popover-background-color: #fff;
  --popover-border-radius: 0;
  --popover-border: none;
  --popover-box-shadow: none;
  --popover-border-color: #e5e7eb;
  /*
  --popover-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  */

  /* Internals */
  --popover-arrow-border-width: calc(var(--popover-arrow-size) / 2);
  --popover-arrow-border-width\-1: calc(
    var(--popover-arrow-border-width) - 1px
  );

  position: relative;
  transition-property: transform, visibility, opacity;
}

.tippy-box[data-animation='fade'][data-state='hidden'] {
  opacity: 0;
}

.tippy-arrow {
  width: var(--popover-arrow-size);
  height: var(--popover-arrow-size);
}

.tippy-arrow::before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-box[data-inertia][data-state='visible'] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-content {
  position: relative;
  z-index: 1;
}

.tippy-content > * {
  border-radius: var(--popover-border-radius);
}

/* -- Default arrow -- */

.tippy-box[data-placement^='top'] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  bottom: calc((var(--popover-arrow-border-width) - 1px) * -1);
  left: 0;
  border-width: var(--popover-arrow-border-width)
    var(--popover-arrow-border-width) 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  top: calc((var(--popover-arrow-border-width) - 1px) * -1);
  left: 0;
  border-width: 0 var(--popover-arrow-border-width)
    var(--popover-arrow-border-width);
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^='left'] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-width: var(--popover-arrow-border-width) 0
    var(--popover-arrow-border-width) var(--popover-arrow-border-width);
  border-left-color: initial;
  right: calc((var(--popover-arrow-border-width) - 1px) * -1);
  transform-origin: center left;
}

.tippy-box[data-placement^='right'] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^='right'] > .tippy-arrow::before {
  left: calc((var(--popover-arrow-border-width) - 1px) * -1);
  border-width: var(--popover-arrow-border-width)
    var(--popover-arrow-border-width) var(--popover-arrow-border-width) 0;
  border-right-color: initial;
  transform-origin: center right;
}

/* -- Arrow with light border theme - */

.tippy-box[data-theme='light-border'] {
  background-color: var(--popover-background-color);
  background-clip: padding-box;
  border: var(--popover-border);
  border-radius: var(--popover-border-radius);
  box-shadow: var(--popover-box-shadow);
}

.tippy-box[data-theme='light-border'] > .tippy-arrow::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-color: transparent;
  border-style: solid;
}

.tippy-box[data-theme='light-border'][data-placement^='top']
  > .tippy-arrow::before {
  border-top-color: var(--popover-background-color);
}

.tippy-box[data-theme='light-border'][data-placement^='top']
  > .tippy-arrow::after {
  border-top-color: var(--popover-border-color);
  border-width: var(--popover-arrow-border-width\-1)
    var(--popover-arrow-border-width\-1) 0;
  top: calc(var(--popover-arrow-size) + 1px);
  left: 1px;
}

.tippy-box[data-theme='light-border'][data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: var(--popover-background-color);
  bottom: var(--popover-arrow-size);
}

.tippy-box[data-theme='light-border'][data-placement^='bottom']
  > .tippy-arrow::after {
  border-bottom-color: var(--popover-border-color);
  border-width: 0 var(--popover-arrow-border-width\-1)
    var(--popover-arrow-border-width\-1);
  bottom: calc(var(--popover-arrow-size) + 1px);
  left: 1px;
}

.tippy-box[data-theme='light-border'][data-placement^='left']
  > .tippy-arrow::before {
  border-left-color: var(--popover-background-color);
}

.tippy-box[data-theme='light-border'][data-placement^='left']
  > .tippy-arrow::after {
  border-left-color: var(--popover-border-color);
  border-width: var(--popover-arrow-border-width\-1) 0
    var(--popover-arrow-border-width\-1) var(--popover-arrow-border-width\-1);
  left: calc(var(--popover-arrow-size) + 1px);
  top: 1px;
}

.tippy-box[data-theme='light-border'][data-placement^='right']
  > .tippy-arrow::before {
  border-right-color: var(--popover-background-color);
  right: var(--popover-arrow-size);
}

.tippy-box[data-theme='light-border'][data-placement^='right']
  > .tippy-arrow::after {
  border-width: var(--popover-arrow-border-width\-1)
    var(--popover-arrow-border-width\-1) var(--popover-arrow-border-width\-1) 0;
  right: calc(var(--popover-arrow-size) + 1px);
  top: 1px;
  border-right-color: var(--popover-border-color);
}
