<meta charset="utf-8" />
<script src="https://cdn.tailwindcss.com"></script>
<style>
  #root {
    padding: 24px;
  }
  .tippy-box {
    --popover-border-color: #d1d5db;
    --popover-border: 1px solid var(--popover-border-color) !important;
  }
</style>
